.dark-body .L_1 {
	background: url(../img/l_2.png) no-repeat 50% 50% scroll;
}

.dark-body .L_5 {
	color: #A5BCE7;
}

.dark-body .L_6 {
	color: #8FA6D0;
}

.dark-body .L_7 {
	color: #5F7296;
}

.dark-body .L_8 {
	color: #8095BC;
	background: #152137;
	border: 1px solid #425579;
}

.dark-body .L_9 {
	color: #5F7296;
}

.dark-body .L_10 {
	color: #8095BC;
	border: 1px solid #425579;
}

.dark-body .L_11 {
	color: #8095BC;
	background: #152137;
	border-right: 1px solid #425579;
}

.dark-body .L_12 {
	color: #8095BC;
	background: #152137;
}

.dark-body .L_13 {
	color: #8095BC;
	background: #152137;
	border: 1px solid #425579;
}

.dark-body .L_15 {
	color: #8095BC;
	background: #152137;
	border: 1px solid #425579;
}

.dark-body .L_17 {
	color: #8095BC;
	background: #152137;
	border: 1px solid #425579;
}

.dark-body .L_18 {
	color: #8095BC;
	background: #152137;
	border: 1px solid #425579;
}

.dark-body .L_19 {
	color: #A5BCE7;
}

.dark-body .L_20 {
	background: #26599D;
}

.dark-body .L_20:hover {
	background: #4071B4;
}

.dark-body .L_21 {
	color: #5F7296;
}

.dark-body .L_22 {
	color: #8095BC;
	background: #152137;
}

.dark-body .action_6 {
	color: #2583FF;
	border-bottom: 1px solid #2583FF;
}

.dark-body .L_24 {
	background: #222F47;
}

.dark-body .L_26 {
	background: #152137;
}

.dark-body .L_26 h1 {
	color: #A5B3CC;
}

.dark-body .L_28 {
	background: #152137;
}

.dark-body .L_28 ul li {
	border-bottom: 1px solid #1F2D46;
}

.dark-body .gg_action {
	color: #2A7EED;
	font-weight: 700;
}

.dark-body .L_28_2 {
	background: url(../img/gg_33.png) no-repeat 50% 50% scroll;
}

.dark-body .L_28_3 {
	background: url(../img/gg_33.png) no-repeat 50% 50% scroll;
}

.dark-body .L_14_2 {
	background: #26599D;
	color: #FFFFFF;
	border: 1px solid #425579;
}

.dark-body .L_29 {
	background: #152137;
}

.dark-body .L_29 ul li {
	border-bottom: 1px solid #1F2D46;
}

.dark-body .L_29 ul li a span:nth-child(1) {
	color: #A5B3CC;
}

.dark-body .L_29 ul li a span:nth-child(2) {
	color: #818999;
}

.dark-body .L_29 {
	color: #A5B3CC;
}

.dark-body .L_33 {
	background: #152137;
}

.dark-body .L_31 {
	color: #A5B3CC;
}

.dark-body .L_32 {
	color: #A5B3CC;
}

.dark-body .L_32 a {
	color: #216AbA;
}

.dark-body .sysj {
	background: #222F47;
}

.dark-body .syzwz {
	background: #1b2538;
}

.dark-body .syywz {
	background: #222F47;
}

.dark-body .syzwz_1_1 p:nth-child(1) {
	color: #c8d2e5;
}

.dark-body .syywz_1_1 p:nth-child(1) {
	color: #c8d2e5;
}

.dark-body .syzwz_1_1 p:nth-child(2) {
	background: #c8d2e5;
}

.dark-body .syywz_1_1 p:nth-child(2) {
	background: #c8d2e5;
}

.dark-body .syzwz_1_1 p:nth-child(3) {
	color: #a3b1cc;
}

.dark-body .syywz_1_1 p:nth-child(3) {
	color: #a3b1cc;
}

.dark-body .tmdzlggg {
	background: #2d3c58;
	border: 0px;
}

.dark-body #leftBox li a {
	color: #8794ab;
}

.dark-body .action_sybg_1 {
	color: #FFFFFF;
	background: #2c60bf;
}

.dark-body .sybg_2 tr th {
	color: #8794ab;
	border-top: 1px solid #4e6185;
	border-bottom: 1px solid #4e6185;
}

.dark-body .sybg_1 a,
.dark-body .header_denglu ul li span {
	border: 1px solid #4e6185;
}

.dark-body .sybg_1 {
	color: #8794ab;
}

.dark-body .sybg_2 tr {
	border-bottom: 1px solid #4e6185;
}

.dark-body .sybg_2 tr td:nth-child(1),
.dark-body .sybg_2 tr td:nth-child(6),
.dark-body .sybg_2 tr td:nth-child(7),
.dark-body .L_75 p:nth-child(1),
.dark-body .L_75 p:nth-child(2),
.dark-body .L_75_11 {
	color: #C8D2E5;
}

.dark-body .sybg_1 input {
	border: 1px solid #4e6185;
	background: #222F47;
	color: #8794ab;
}

.dark-body .header_daohang ul li a,
.dark-body .header-xs,
.dark-body .header_denglu ul li,
.dark-body .whate,
.dark-body .yybb a,
.dark-body a,
.dark-body .L_76_11 p:nth-child(2),
.dark-body .L_81 p:nth-child(1),
.dark-body .L_82 p:nth-child(1),
.dark-body .L_81,
.dark-body .L_82_21_1,
.dark-body .L_82_21_2 {
	color: #C8D2E5;
}

.dark-body {
	background: #222F47;
}

.dark-body .sybg_2_hong {
	color: #df4359;
}

.dark-body .sybg_2_lv {
	color: #0a7353;
}

.dark-body .L_73,
.dark-body .L_74 {
	background: #1B2538;
}

.dark-body .L_73 ul li {
	background: #2D3C58;
	color: #C8D2E5;
}

.dark-body .L_73 ul li span {
	color: #4676b7;
}

.dark-body .L_76_1 {
	background: rgba(32, 47, 75, 0.6);
}

.dark-body .L_76_11 {
	background: #202f4b;
}

.dark-body .L_76_11 p:nth-child(3) a {
	color: #9ba6ba;
	border: 1px solid #425579;
}

.dark-body .L_81 p:nth-child(3) span:nth-child(1),
.dark-body .L_81_1 span,
.dark-body .L_81_2 span,
.dark-body .L_81_4 span,
.dark-body .L_81_5 span,
.dark-body .L_82 p:nth-child(3) span:nth-child(1) {
	background: #2c3a53;
	color: #c8d2e5;
}

.dark-body .L_81 p:nth-child(3),
.dark-body .L_81 p:nth-child(3) input,
.dark-body .L_81_1 input,
.dark-body .L_81_2 input,
.dark-body .L_81_4 input,
.dark-body .L_81_5 input,
.dark-body .L_82 p:nth-child(3),
.dark-body .L_82 p:nth-child(3) input,
.dark-body .L_82_1 input,
.dark-body .L_82_2 input {
	background: #192232;
	color: #c8d2e5;
}

.dark-body .L_81_1_1_1 {
	color: #7c90b4;
}

.dark-body .L_81_1_1_2 {
	color: #a83643;
}

.dark-body .L_81_1_1_3 {
	color: #5073b5;
}

.dark-body .L_81_1_1_4 {
	background: #a83643;
}

.dark-body .L_81 p:nth-child(3),
.dark-body .L_82 p:nth-child(3),
.dark-body .L_82_1,
.dark-body .L_82_2 {
	border: 1px solid #2d3c58;
}

.dark-body .L_81_1 input,
.dark-body .L_81_2 input,
.dark-body .L_81_4 input,
.dark-body .L_81_5 input,
.dark-body .L_82_1 input,
.dark-body .L_82_4 input,
.dark-body .L_82_5 input,
.dark-body .L_82_2 input {
	border: 0px;
}

.dark-body .L_81_1,
.dark-body .L_81_2,
.dark-body .L_81_4,
.dark-body .L_81_5 {
	background: #2c3a53;
	border: 1px solid #2d3c58;
}

.dark-body .L_82_1,
.dark-body .L_82_2 {
	background: #2c3a53;
	color: #c8d2e5;
}

.dark-body .L_81_1_1_5 {
	background: #0a7353;
}

.dark-body .L_77 p:nth-child(1) {
	color: #425a86;
}

.dark-body .L_77 p:nth-child(2) a:nth-child(1) {
	color: #4676b7;
}

.dark-body .L_77 p:nth-child(2) a:nth-child(2) {
	color: #c8d2e5;
}

.dark-body .L_40 tr:nth-child(1) {
	background: #212c41;
	color: #516486;
	border-bottom: 1px solid #2d3c58;
}

.dark-body .L_40 tr {
	color: #c8d2e5;
	border-bottom: 1px solid #2d3c58;
}

.dark-body .L_78 p:nth-child(1) {
	color: #c8d2e5;
}

.dark-body .L_78_action {
	color: #4676b7;
}

.dark-body #L_40_tr {
	background: #222f47;
}

.dark-body .L_78_2 p:nth-child(1) {
	color: #516486;
}

.dark-body .L_78_2 p:nth-child(1) span {
	color: #9ba6ba;
}

.dark-body .L_78_2_2 {
	color: #9ba6ba;
}

.dark-body .L_78_1_1_1 {
	border: 1px solid #2d3c58;
}

.dark-body .L_79_1_1,
.dark-body .L_79_1_2,
.dark-body .L_50_a {
	color: #c8d2e5;
}

.dark-body .L_89_1 {
	background: url(../img/L_40hei.png) no-repeat 50% 50% scroll;
}

.dark-body .L_89_2,
.dark-body .L_90_1,
.dark-body .L_90_2,
.dark-body .L_90_32,
.dark-body .L_90_311,
.dark-body .L_90_312,
.dark-body .L_89_3,
.dark-body .L_91,
.dark-body .L_89_22 {
	background: #1b2538;
}

.dark-body .L_89_12,
.dark-body .L_89_12a {
	background: #222f47;
	color: #c8d2e5;
}

.dark-body .L_89_13,
.dark-body .L_90_32 p:nth-child(1),
.dark-body .L_90_32_1 tr th,
.dark-body .L_90_32_4 tr th {
	color: #c8d2e5;
	border-bottom: 1px solid #313f5a;
}

.dark-body .L_89_22 tr,
.dark-body .L_90_32_1 tr{
	border-bottom: 1px dotted #313f5a;
	color: #c8d2e5;
}
.dark-body .L_90_32_1 tr td,
.dark-body .L_90_32_3,
.dark-body .L_90_32_4 tr td{
	border-bottom: 1px dotted #313f5a;
}
.dark-body .action_L_89_12 {
	color: #4676b7;
}

.dark-body .L_89_11 input[type=text] {
	background: #222f47;
	color: #4f607f;
	border: 1px solid #313f5a;
}

.dark-body .L_89_1 p:nth-child(1),
.dark-body .L_89_1 p:nth-child(3) {
	color: #8794ab;
}

.dark-body .L_90_11 li:nth-child(1),
.dark-body .L_90_11 li:nth-child(2),
.dark-body .L_90_11 li:nth-child(6),
.dark-body .L_90_11 li:nth-child(7),
.dark-body .L_90_12 li:nth-child(1),
.dark-body .L_90_12 li:nth-child(4),
.dark-body .L_90_12 li:nth-child(5),
.dark-body .L_90_12 li:nth-child(6),
.dark-body .L_90_12 li:nth-child(7) {
	color: #9ba6ba;
	border-right: 1px solid #313f5a;
}
.dark-body .L_90_11 li,.dark-body .L_90_12 li{
	border-right: 1px solid #313f5a;
}
.dark-body .L_90_1{
	border-bottom: 1px solid #313f5a;
}
.dark-body .L_91 table tr td {
	border-bottom: 1px solid #313f5a;
	color: #c8d2e5;
}
.dark-body .L_89_31{
	background: #212b40;
	color: #4676b7;
}
.dark-body .L_90_3111 p:nth-child(1) span:nth-child(1){
	color: #bd3242;
}
.dark-body .L_90_3111 p:nth-child(1) span:nth-child(2),
.dark-body .L_90_3112 p:nth-child(1) span:nth-child(2),
.dark-body .L_90_31115,
.dark-body .L_91_1 span{
	color: #c8d2e5;
}
.dark-body .L_90_3112 p:nth-child(1) span:nth-child(1){
	color: #058b5e;
}
.dark-body .L_90_31111 input,
.dark-body .L_90_31115 input{
	background: #192232;
	color: #c8d2e5;
}
.dark-body .L_90_31116{
	background: #192232;
	color: #c8d2e5;
	border: 1px solid #4e6185;
}
.dark-body .L_90_31114{
	background: #2d3c58;
	color: #c8d2e5;
	border: 1px solid #2d3c58;
}
.dark-body .L_90_31111,
.dark-body .L_90_31115{
	border: 1px solid #4e6185;
}
.dark-body .L_90_31112_1{
	border-bottom: 1px solid #4e6185;border-left: 1px solid #4e6185;
}
.dark-body .L_90_31112_2{
	border-left: 1px solid #4e6185;
}
.dark-body .L_90_31111 span:nth-child(2),
.dark-body .L_37{
	color: #c8d2e5;
}
.dark-body .line2 li,
.dark-body .line21 li {
	background: rgba(34,47,71);
}
.dark-body .line2,
.dark-body .line21 {
	background: rgba(34,47,71);
}
.dark-body .line2input1{
	background:-webkit-linear-gradient(#027d58, #027d58) no-repeat;
	color: #027d58;
}
.dark-body .line2input2{
	background:-webkit-linear-gradient(#bd3242, #bd3242) no-repeat;
}
.dark-body .L_90_31117{
	background: #a83643;
	border: 1px solid #a83643;
}
.dark-body .L_90_31118{
	background: #0a7353;
	border: 1px solid #0a7353;
}
.dark-body .L_90_312 p{
	border-bottom: 1px dotted #425476;
	color: #c8d2e5;
}
.dark-body .L_91 table tr th{
	background: #212b40;
	color: #516486;
}
.dark-body .L_41 span{
	border:1px solid #313f5a;
	color: #c8d2e5;
}
.dark-body .L_35,.dark-body .L_36{
	background: #1b2538;
	color: #9ba6ba;
}
.dark-body .L_37_1_1{
	background: url(../img/L_31hei.png);
}
.dark-body .L_37,
.dark-body .L_38{
	border-bottom: 1px solid #293751;
}
.dark-body .L_38 a{
	color: #9ba6ba;
}
.dark-body .action_38{
	background: #2d3a52;
}
.dark-body .L_84{
	color: #9ba6ba;
}
.dark-body .L_39{
	color: #c8d2e5;
	border-bottom: 1px solid #2d3c58;
}
.dark-body .L_51_1_1{
	color: #516486;
}
.dark-body .L_85_3{
	color: #9ba6ba;
}
.dark-body .L_85_33 input,
.dark-body .L_85_31 input:nth-child(1){
	background: #161f2f;
	border: 1px solid #425474;
	color: #9ba6ba;
}
.dark-body .L_85_31 input:nth-child(2),
.dark-body .L_85_31 input:nth-child(3){
	background: #526a88;
}
.dark-body .L_85_32 input{
	background: #26599d;
}
.dark-body .L_84_a,
.dark-body .L_83,
.dark-body .L_83_a,
.dark-body #L_83_4_a,
.dark-body .L_87 p,
.dark-body .L_88 p,
.dark-body .L_88_4{
	color: #9ba6ba;
}
.dark-body .L_83_1{
	background: url(../img/L_33hei.png) no-repeat 50% 50% scroll;
}
.dark-body .L_83_211{
	border: 1px solid #4e6185;
	background: #222f47;
}
.dark-body .L_83_3,
.dark-body .L_87 select,
.dark-body .L_87 input[type=text],
.dark-body .L_88 input[type=text]{
	border: 1px solid #4e6185;
	background: none;
	color: #9ba6ba;
}
.dark-body .L_88_3{background: url(../img/L_39hei.png) no-repeat 50% 50% scroll;border: 1px solid #4e6185;}
.dark-body .L_83_4 input,
.dark-body .L_83_4 select,
.dark-body .L_85_2_a,
.dark-body .L_85_2_b,
.dark-body .L_85_2_e{
	border: 1px solid #4e6185;
	background: #161f2f;
	color: #9ba6ba;
}
.dark-body .L_86_a{border-bottom: 1px solid #2d3c58;}
.dark-body .L_85_2_c{
	background: #526a88;
	color: #FFFFFF;
	border: 1px solid #526a88;
}
.dark-body .L_86{color: #9ba6ba;}
.dark-body .L_85_2_d{
	background: #26599d;
}
.dark-body #L_85_qh{
	background: #161f2f;
	color: #9ba6ba;
}
.dark-body .L_83_5 input{
	background: #26599d;
}
.dark-body .L_85{
	background: #1b2538;
	border: 1px solid #232e43;
	border-radius: 4px;
}
.dark-body .L_85 p{
	color: #5f7296;
}
.dark-body .L_85 p span{
	color: #4676b7;
}
.dark-body .L_85 input{
	background: #26599d;
}
.dark-body .L_85_2 p span{
	color: #9ba6ba;
}
.dark-body .L_70,.dark-body .L_71{
	background: #1b2538;
	color: #c8d2e5;
}
.dark-body .L_71_a{
	color: #c8d2e5;
	border-bottom: 1px solid #293751;
}
.dark-body #L_70_a{
	color: #c8d2e5;
}
.dark-body .action_70{background: #2d3a52;}
.dark-body .L_70 ul li{border-bottom: 1px solid #293751;}
.dark-body .L_93,
.dark-body .L_96,
.dark-body .L_97,.dark-body .L_98{background: #1b2538;color: #c8d2e5;}
.dark-body .L_94,
.dark-body .L_96_11{color: #9ba6ba;}
.dark-body .L_94 a{color: #b93e4c;}
.dark-body .L_96_12{background: #32415e;}
.dark-body .L_96_13{border: 1px solid #32415e;}
.dark-body .L_96_14{color: #9ba6ba;border-bottom: 1px solid #293751;}
.dark-body .L_96_122 p:nth-child(1),
.dark-body .L_55 span:nth-child(1),
.dark-body .L_55 span:nth-child(2),
.dark-body .L_55 span:nth-child(3),
.dark-body .L_42,.dark-body .L_53,.dark-body .L_54 p,.dark-body .L_43,.dark-body .L_60,.dark-body .L_59 p,.dark-body .L_59,.dark-body .L_67,
.dark-body .L_68{color: #c8d2e5;}
.dark-body .L_96_122 p:nth-child(2),
.dark-body .L_97_1 p,
.dark-body .L_97_1 span,.dark-body .L_96_16 a{color: #9ba6ba;}
.dark-body .L_96_15{border-bottom: 1px solid #293751;}
.dark-body .L_96_1222 img{border: 1px solid #293751;}
.dark-body .L_96_1223 p:nth-child(1) a{color: #516486;border: 1px solid #516486;}
.dark-body .L_97_3{background: none;color: #9ba6ba;border: 1px solid #425474;}
.dark-body .L_97_7,.dark-body .L_97_4,.dark-body .L_97_5{background: #161f2f;border: 1px solid #425474;color: #9ba6ba;}
.dark-body .L_97_6{background: #26599d;}
.dark-body .L_99{background: #1b2538;}
.dark-body .L_99 p:nth-child(1) span:nth-child(1),.dark-body  .L_99 p:nth-child(1) span:nth-child(3),.dark-body  .L_99 p:nth-child(1) span:nth-child(5){color: #9ba6ba;}
.dark-body .L_99 p:nth-child(1) span:nth-child(2),.dark-body  .L_99 p:nth-child(1) span:nth-child(4),.dark-body  .L_99 p:nth-child(1) span:nth-child(6){color: #c8d2e5;}
.dark-body .L_10086{background: #344563;}
.dark-body .L_10087{background: #26334a;}
.dark-body .L_100_2_a{background:url(../img/L_61hei2.png) no-repeat 50% 50% scroll;}
.dark-body .L_100_1_a{background:url(../img/L_61hei1.png) no-repeat 50% 50% scroll;}
.dark-body .L_10086 p:nth-child(1),.dark-body .L_10087 p:nth-child(1){color: #c8d2e5;}
.dark-body .L_10086 p:nth-child(2){color: #7184a7;}
.dark-body .L_10087 p:nth-child(2){color: #7082a0;}
.dark-body .L_100_1 span:nth-child(4),.dark-body .L_100_2 span:nth-child(4){color: #c8d2e5;}
.dark-body .L_101_1{color: #7184a7;border: 1px solid #394967;background: #161f2f;}
.dark-body .L_101_2{background: #26599d;}
.dark-body .L_42 select,.dark-body .L_42 input,.dark-body .L_56 select,.dark-body .L_56 input:nth-child(2),.dark-body .L_56 input:nth-child(3){color: #c8d2e5;background: #161f2f;border: 1px solid #425579;}
.dark-body .L_54 table tbody tr th select{background: #212c41;color: #516486;}
.dark-body .L_56 input:nth-child(5){background: #26599d;}
.dark-body .L_43 p:nth-child(1){color: #9ba6ba;}
.dark-body .L_43 p:nth-child(2){color: #4676b7;}
.dark-body .L_45 input{background: #26599d;}
.dark-body .L_46 tr {border-bottom: 1px solid #2d3c58;}
.dark-body .L_58,.dark-body .L_60 input,.dark-body .L_61 input{background: #161f2f;border: 1px solid #425474;color: #c8d2e5;}
.dark-body .L_58 input:nth-child(1),.dark-body .L_58 input:nth-child(2){background: #161f2f;color: #c8d2e5;}
.dark-body .L_66{background: #202f4b;}
.dark-body .L_67{border-bottom:1px solid #2d3c58;}
.dark-body .L_68_a{background: #152137;border: 1px solid #425579;color: #c8d2e5;}
.dark-body .L_68_b{background: #3c4f73;color: #c8d2e5;border: 1px solid #3c4f73;}
.dark-body .L_63{color: #4676b7;background: #2d3c58;box-shadow:0px 1px 0px 1px #2d3c58;border: 1px solid #425579;}
.dark-body .L_62{background: #222D44;color: #9BA6BA;border: 1px solid #222D44;box-shadow: 0px 1px 0px 1px #222D44;}
.dark-body .L_64 TR:hover{background: #2D3C58;}
.dark-body .header_dengluhou_dlzt {background: url(../img/L_63hei.png) no-repeat 50% 50% scroll;color: #9ba6ba;}
.dark-body .header_dengluhou_dlzt{color: #9ba6ba;}
.dark-body .header_dengluhou_dlzt p:nth-child(1) span:nth-child(2),.header_dengluhou_dlzt p:nth-child(2) span:nth-child(2) {color: #c8d2e5;}
.dark-body .header_dengluhou_dlzt p:nth-child(1) a {color: #4676b7;}
.dark-body .L_47 p:nth-child(1),.dark-body .L_48 p:nth-child(1),.dark-body .L_48 p:nth-child(2),
.dark-body .L_50 p{color: #c8d2e5;}
.dark-body .L_47 p:nth-child(2),.dark-body .L_48 p span{color: #bd3242;}
.dark-body .L_48 p:nth-child(3){color: #9ba6ba;}
.dark-body .L_50 input{background: none;border: 1px solid #4e6185;color: #4f607f;}
.dark-body .tc_1{ background: #202f4b;color: #c8d2e5;}
.dark-body .tc_1_1{ background: #334464;color: #c8d2e5;border-bottom: 1px solid #3f5172;}
.dark-body .tc_1_2{color: #9ba6ba;}
.dark-body .tc_1_3 input:nth-child(2),.dark-body .tc_1_3 input:nth-child(1){color: #FFFFFF;border: 1px solid #425579;}
.dark-body .tc_1_3 input:nth-child(2):hover,.dark-body .tc_1_3 input:nth-child(1):hover{background: #26599d;}
.dark-body .L_89_22_a{background: #222f47;}
