.dark-body .L_1{background: url(../img/l_2.png) no-repeat 50% 50% scroll;}
.dark-body .L_5{color: #A5BCE7;}
.dark-body .L_6{color: #8FA6D0;}
.dark-body .L_7{color: #5F7296;}
.dark-body .L_8{color: #8095BC;background: #152137;border: 1px solid #425579;}
.dark-body .L_9{color: #5F7296;}
.dark-body .L_10{color: #8095BC;border: 1px solid #425579;}
.dark-body .L_11{color: #8095BC;background: #152137;border-right: 1px solid #425579;}
.dark-body .L_12{color: #8095BC;background: #152137;}
.dark-body .L_13{color: #8095BC;background: #152137;border: 1px solid #425579;}
.dark-body .L_15{color: #8095BC;background: #152137;border: 1px solid #425579;}
.dark-body .L_17{color: #8095BC;background: #152137;border: 1px solid #425579;}
.dark-body .L_18{color: #8095BC;background: #152137;border: 1px solid #425579;}
.dark-body .L_19{color: #A5BCE7;}
.dark-body .L_20{background: #26599D;}
.dark-body .L_20:hover{background: #4071B4;}
.dark-body .L_21{color: #5F7296;}
.dark-body .L_22{color: #8095BC;background: #152137;}
.dark-body .action_6{color: #2583FF;border-bottom: 1px solid #2583FF;}
.dark-body .L_24{background: #222F47;}
.dark-body .L_26{background: #152137;}
.dark-body .L_26 h1{color: #A5B3CC;}
.dark-body .L_28{background: #152137;}
.dark-body .L_28 ul li{border-bottom: 1px solid #1F2D46;}
.dark-body .gg_action {color:#2A7EED;font-weight:700;}

.dark-body .L_28_2{background: url(../img/gg_33.png) no-repeat 50% 50% scroll;}
.dark-body .L_28_3{background: url(../img/gg_33.png) no-repeat 50% 50% scroll;}
.dark-body .L_14_2{background: #26599D;color: #FFFFFF;border: 1px solid #425579;}
.dark-body .L_29{background: #152137;}
.dark-body .L_29 ul li{border-bottom: 1px solid #1F2D46;}
.dark-body .L_29 ul li a span:nth-child(1){color: #A5B3CC;}
.dark-body .L_29 ul li a span:nth-child(2){color: #818999;}
.dark-body .L_29{color: #A5B3CC;}
.dark-body .L_33{background: #152137;}
.dark-body .L_31{color: #A5B3CC;}
.dark-body .L_32{color: #A5B3CC;}
.dark-body .L_32 a{color: #216AbA;}